@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: 'Archivo';
    color: white;
}
body{
    background: radial-gradient(#011C1D,black);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.landingTitle{

}

#head1{
    font-size: calc(20px + 5vw);
    text-align: center;
}

#head2{

}